<p id="notice"><%= notice %></p>

<table>

  <tbody>
    <% @projects.each do |project| %>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><%= project.title %></h3>
            <p class="card-text"><%= project.description %></p>
            <li class="nav-item">
                <%= link_to 'Show',project, :class => "btn btn-primary"%>
            </li>
            <li class="nav-item">
                <%= link_to 'Edit',edit_project_path(project), :class => "btn btn-primary" if user_signed_in?%>
            </li>
            <li class="nav-item">
                <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" if user_signed_in?%>
            </li>
          </div>
        </div>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<div style="text-align:center">  
<li class="nav-item">
  <%= link_to 'New Project', new_project_path, :class => "btn btn-primary" if user_signed_in?%>
</li>
</div>
