<!DOCTYPE html>
<html>
  <head>
    <title>Cs3300</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Portfolio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
          <div>
            <%= link_to 'Login', new_user_session_path, :class => "btn btn-primary" unless user_signed_in?%> |
          </div>
          </li>
          <li class="nav-item">
          <div>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete,  :class => "btn btn-primary" if user_signed_in?%>
          </div>
          </li>
          <li class="nav-item">
          <div>
            | <%= link_to 'Sign up', new_user_registration_path, method: :get,  :class => "btn btn-primary" unless user_signed_in?%>
          </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">The Portfolio of Joshua Brisson</h1>
        <p>Joshua Brisson is a Junior at UCCS and is in the process of graduating with a Bachelors of Innovation in Computer Security. This portfolio displays a number of projects that Joshua Brisson has worked on over the course of his degree.</p>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
    </main>

  </body>
</html>
